<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.f3401pal.textviewplus.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ExampleActivity"
            android:label="Examples"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TextViewPlusActivity"
            android:label="Display large amount of text efficiently"
            />
        <activity android:name=".TextViewActivity"
            android:label="Standard setText"
            />
        <activity android:name=".PreComputedTextActivity"
            android:label="Using PreComputedText from Android P"
            />

    </application>
</manifest>
